CurrencyConverter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://clipnex.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://clipnex.com" xmlns:intf="http://clipnex.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://clipnex.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="convert">
    <complexType>
     <sequence>
      <element name="source" type="xsd:int"/>
      <element name="target" type="xsd:int"/>
      <element name="value" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="convertResponse">
    <complexType>
     <sequence>
      <element name="convertReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="convertRequest">

      <wsdl:part element="impl:convert" name="parameters"/>

   </wsdl:message>

   <wsdl:message name="convertResponse">

      <wsdl:part element="impl:convertResponse" name="parameters"/>

   </wsdl:message>

   <wsdl:portType name="CurrencyConverter">

      <wsdl:operation name="convert">

         <wsdl:input message="impl:convertRequest" name="convertRequest"/>

         <wsdl:output message="impl:convertResponse" name="convertResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CurrencyConverterSoapBinding" type="impl:CurrencyConverter">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="convert">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="convertRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="convertResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CurrencyConverterService">

      <wsdl:port binding="impl:CurrencyConverterSoapBinding" name="CurrencyConverter">

         <wsdlsoap:address location="http://localhost:8080/CurrencyConverter/services/CurrencyConverter"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
